# Interactive Brokers Connection Settings
IB_HOST=127.0.0.1
#IB_HOST=192.168.1.100
IB_USERNAME=your_username
IB_PASSWORD=your_password
TRADING_MODE=paper

# --[Because using IB Gateway vs. TWS; ports will be different]-- #
## Paper Trading Port: 4002, Live Trading Port: 4001
# IB_PORT=4001
IB_PORT=4002
## Paper Trading Port: 7497, Live Trading Port: 7496
#IB_PORT=7497


# Trading Mode (true = paper trading, false = live)
PAPER_TRADING=true

# Optional: Override config file location
# CONFIG_FILE=config.yaml

# Optional: Set log level (DEBUG, INFO, WARNING, ERROR)
LOG_LEVEL=INFO
